div {
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* background-color: white; */
	/* text-align: center; */
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	padding: 0 1rem 2rem 1rem;
	width: 50vw;
	border-radius: 25px;
	background-image: linear-gradient(135deg, #293d51, #2f78c4);
}

h1 {
	padding-top: 1rem;
	color: white;
}
